html {
    background: rgb(142, 243, 243)
}

body {
    font-family: Arial;
}

h1 {
    font-size: 65px;
    background:rgb(200, 199, 245);
    font-weight: lighter;
}

img {
    width: 150px;
    height: auto;
}
li {
    font-family: Verdana;
    font-size: 30px;
    color: rgb(155, 13, 173);
}
